<%- include('../templates/nav.ejs') %>


    <div class="grid sm:px-10 my-16 lg:grid-cols-2 lg:px-20 xl:px-32">
        <div class="px-4 pt-8">
            <div class="mb-4">
                <p class="text-2xl font-bold text-gray-800">Tu orden ya casi está completada!</p>
                <ol class="flex items-center w-full mt-4">
                    <li
                        class="flex w-full items-center text-blue-600 dark:text-blue-500 after:content-[''] after:w-full after:h-1 after:border-b after:border-blue-100 after:border-4 after:inline-block dark:after:border-blue-800">
                        <span
                            class="flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full lg:h-12 lg:w-12 dark:bg-blue-800 shrink-0">
                            <svg aria-hidden="true" class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300"
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </li>
                    <li
                        class="flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700">
                        <span
                            class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 lg:w-6 lg:h-6 dark:text-gray-100"
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 2a1 1 0 00-1 1v1a1 1 0 002 0V3a1 1 0 00-1-1zM4 4h3a3 3 0 006 0h3a2 2 0 012 2v9a2 2 0 01-2 2H4a2 2 0 01-2-2V6a2 2 0 012-2zm2.5 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm2.45 4a2.5 2.5 0 10-4.9 0h4.9zM12 9a1 1 0 100 2h3a1 1 0 100-2h-3zm-1 4a1 1 0 011-1h2a1 1 0 110 2h-2a1 1 0 01-1-1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </li>
                    <li class="flex items-center w-full">
                        <span
                            class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 lg:w-6 lg:h-6 dark:text-gray-100"
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                                <path fill-rule="evenodd"
                                    d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm9.707 5.707a1 1 0 00-1.414-1.414L9 12.586l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </li>
                </ol>
            </div>
            <p class="text-xl font-medium">Tu orden</p>
            <p class="text-gray-400">Chequea tus productos, seleccioná tu forma de pago y el envío.</p>
            <div
                class="mt-8 space-y-3 overflow-y-auto min-h-min max-h-[270px] rounded-lg border bg-white px-2 py-4 sm:px-6">
                <% for(let i=0; i < products.length; i++) { %>
                    <div class="flex flex-col rounded-lg bg-white sm:flex-row">
                        <img class="m-2 h-24 w-28 rounded-md border object-cover object-center" src="/images/bg02.jpg"
                            alt="" />
                        <div class="flex w-full flex-col px-4 py-4">
                            <span class="font-semibold">
                                <%= products[i].product_name %>
                            </span>
                            <span class="float-right text-gray-400">
                                <%= products[i].product_quantity %> unidades.
                            </span>
                            <p class="text-lg font-bold">$<%= products[i].product_price %>
                            </p>
                        </div>
                    </div>
                    <% } %>
            </div>

            <p class="mt-8 text-lg font-medium">Métodos de pago</p>
            <form class="mt-5 grid gap-6" method="post" action="./continue">
                <div class="relative">
                    <input class="peer hidden" id="mercado_pago" type="radio" name="payment_method" value="mercado_pago" checked />
                    <span
                        class="peer-checked:border-gray-700 absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 bg-white"></span>
                    <label
                        class="peer-checked:border-2 bg-white peer-checked:border-gray-700 peer-checked:bg-gray-50 flex cursor-pointer select-none rounded-lg border border-gray-300 p-4"
                        for="mercado_pago">
                        <img class="w-24 object-contain" src="/images/logos/mercado-pago.svg" alt="" />
                        <div class="ml-5">
                            <span class="mt-2 font-semibold">Mercado Pago</span>
                            <p class="text-slate-500 text-sm leading-6">Pago al instante</p>
                        </div>
                    </label>
                </div>
                <div class="relative">
                    <input class="peer hidden" id="transferencia_cbu" type="radio" name="payment_method" value="transferencia_cbu" />
                    <span
                        class="peer-checked:border-gray-700 absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 bg-white"></span>
                    <label
                        class="peer-checked:border-2 bg-white peer-checked:border-gray-700 peer-checked:bg-gray-50 flex cursor-pointer select-none rounded-lg border border-gray-300 p-4"
                        for="transferencia_cbu">
                        <img class="w-14 object-contain" src="/images/logos/bank-transfer-icon.jpg" alt="" />
                        <div class="ml-5">
                            <span class="mt-2 font-semibold">Transferencia CBU</span>
                            <p class="text-slate-500 text-sm leading-6">Demora de confirmación: 6 a 12hs</p>
                        </div>
                    </label>
                </div>
        </div>
        <div class="mt-10 bg-gray-50 px-4 pt-8 lg:mt-0">
            <p class="text-xl font-medium">Detalles de envío</p>
            <p class="text-gray-400">Completa la orden brindando tus datos.</p>
            <div class="">
                <div class="flex">
                    <div class="flex flex-col w-full">
                        <label for="province" class="mt-4 mb-2 block text-sm font-medium">Provincia</label>
                        <div class="relative flex-shrink-0">
                            <input type="text" id="province" name="province"
                                class="w-full rounded-md border border-gray-200 px-2 py-3  text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                                placeholder="Buenos Aires" required />
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <label for="localidad" class="mt-4 mb-2 block text-sm font-medium">Localidad</label>
                        <input type="text" id="localidad" name="localidad"
                            class="w-full rounded-md border border-gray-200 px-2 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                            placeholder="Berazategui" required />
                    </div>
                </div>
                <div class="flex">
                    <div class="flex flex-col w-full">
                        <label for="address_line1" class="mt-4 mb-2 block text-sm font-medium">Calle</label>
                        <div class="relative flex-shrink-0">
                            <input type="text" id="address_line1" name="address_line1"
                                class="w-full rounded-md border border-gray-200 px-2 py-3  text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                                placeholder="Calle 123" required />
                        </div>
                    </div>
                    <div class="flex w-full">
                        <div>
                            <label for="address_line2" class="mt-4 mb-2 block text-sm font-medium">Número de
                                calle</label>
                            <input type="text" id="address_line2" name="address_line2"
                                class="w-full rounded-md border border-gray-200 px-2 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                                placeholder="2683" required />
                        </div>
                        <div>
                            <label for="postal_code" class="mt-4 mb-2 block text-sm font-medium">Código postal</label>
                            <input type="text" id="postal_code" name="postal_code"
                                class="w-full rounded-md border border-gray-200 px-2 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                                placeholder="1889" required />
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <label for="observations"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones del
                        domicilio</label>
                    <textarea id="observations" rows="4"
                        class="block resize-none p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Portón de madera, casa de ladrillo hueco, etc..."></textarea>
                </div>


                <div class="my-4">
                    <h3 class="text-xl font-medium">Detalles de envío</h3>
                    <button data-modal-target="defaultModal" data-modal-toggle="defaultModal"
                        class="text-blue-500 underline" type="button">Mirá cuales son nuestros tipos de envío haciendo
                        click acá</button>
                    <!--!-->
                    <div id="defaultModal" tabindex="-1" aria-hidden="true"
                        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
                        <div class="relative w-full h-full max-w-2xl md:h-auto">
                            <!-- Modal content -->
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <!-- Modal header -->
                                <div
                                    class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                        Terms of Service
                                    </h3>
                                    <button type="button"
                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                        data-modal-hide="defaultModal">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>
                                <!-- Modal body -->
                                <div class="p-6 space-y-6">
                                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                        With less than a month to go before the European Union enacts new consumer
                                        privacy laws for its citizens, companies around the world are updating their
                                        terms of service agreements to comply.
                                    </p>
                                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                        The European Union’s General Data Protection Regulation (G.D.P.R.) goes into
                                        effect on May 25 and is meant to ensure a common set of data rights in the
                                        European Union. It requires organizations to notify users as soon as possible of
                                        high-risk data breaches that could personally affect them.
                                    </p>
                                </div>
                                <!-- Modal footer -->
                                <div
                                    class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                    <button data-modal-hide="defaultModal" type="button"
                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I
                                        accept</button>
                                    <button data-modal-hide="defaultModal" type="button"
                                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--!-->
                    <ul class="grid mt-2 w-full gap-6 md:grid-cols-2">
                        <li>
                            <input type="hidden" name="order_id" value="<%= order[0].id%>">
                            <input type="radio" id="envio_particular" name="envio_type" value="particular"
                                class="hidden peer" required>
                            <label for="envio_particular"
                                class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                                <div class="block">
                                    <div class="w-full text-lg font-semibold">Envío particular</div>
                                    <div class="w-full">Sólo las zonas marcadas. $300 a 400$</div>
                                </div>
                                <svg aria-hidden="true" class="w-6 h-6 ml-3" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </label>
                        </li>
                        <li>
                            <input type="radio" id="envio_correo" name="envio_type" value="correo_argentino" class="hidden peer">
                            <label for="envio_correo"
                                class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                                <div class="block">
                                    <div class="w-full text-lg font-semibold">Correo Argentino</div>
                                    <div class="w-full">Costo a determinar</div>
                                </div>
                                <svg aria-hidden="true" class="w-6 h-6 ml-3" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </label>
                        </li>
                    </ul>
                </div>


                <!-- Total -->
                <div class="mt-6 border-t border-b py-2">
                    <div class="flex items-center justify-between">
                        <p class="text-sm font-medium text-gray-900">Subtotal</p>
                        <p class="font-semibold text-gray-900">$<%= order[0].total%>
                        </p>
                    </div>
                    <div class="flex items-center justify-between">
                        <p class="text-sm font-medium text-gray-900">Envío</p>
                        <p class="font-semibold text-gray-900">$0</p>
                    </div>
                </div>
                <div class="mt-6 flex items-center justify-between">
                    <p class="text-sm font-medium text-gray-900">Total</p>
                    <p class="text-2xl font-semibold text-gray-900">$<%= order[0].total%>
                    </p>
                </div>
            </div>
            <button class="mt-4 mb-8 w-full rounded-md bg-gray-900 px-6 py-3 font-medium text-white">Continuar
                pedido</button>
            </form>

        </div>
    </div>
    <%- include('../templates/footer.ejs') %>